[submodule "property-portal-api"]
	path = property-portal-api
	url = https://github.com/KateLinn-aa/property-portal-api.git
[submodule "property-portal-app"]
	path = property-portal-app
	url = https://github.com/KateLinn-aa/property-portal-app.git
[submodule "property-portal-mobile"]
	path = property-portal-mobile
	url = https://github.com/KateLinn-aa/property-portal-mobile.git
